<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mic.music.mic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".OtpActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RagistrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >

        </activity>
        <activity
            android:name=".VideoUpload.VideoFolder"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VideoUpload.Activity_galleryview"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VideoRecord.VideoRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".VideoUpload.UploadVideoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".VideoRecord.VideoRecord"></activity>

        <activity android:name=".Newmic.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Newmic.ReachUs"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.PrivatePolicy"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.TandC"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.RefundPolicy"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.About"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.VerificationActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.SoundSetting"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.Notification"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Newmic.Setting"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.AudioVedio"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.OurTeam"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.Performance"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.Mobile_Ragistration"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.VideoDialogBox"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.AutdioDialog"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.MicCompetitions"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Newmic.Profile"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AudioUpload.AudioListActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AudioUpload.AudioRecordActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>